<ion-view view-title="热门">

  <ion-content class="padding">
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <ion-item  collection-repeat="stream in streams" item-height="180px" href="#/tab/stream/{{stream.Id}}/{{stream.ack_code}}/{{stream.title|escape}}">
        <h2>{{stream.title}}</h2>
        <p>{{stream.src_title}}</p>
        <img ng-src="{{stream.img_src}}">
  </ion-item>
    
    <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>`
  </ion-content>
</ion-view>
