<ion-view view-title="热门">

  <ion-content class="padding">
    <ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stream in streams" type="item-text-wrap" href="#/tab/stream/{{stream.Id}}/{{stream.ack_code}}/{{stream.title}}">
        <img ng-src="{{stream.img_src}}">
        <h2>{{stream.title}}</h2>
        <p>{{stream.src_title}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(stream)">
          Delete
        </ion-option-button>
      </ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>
